*{
	box-sizing: border-box;
}
:root{
	--SoftRed:hsl(7, 99%, 70%);
	--Yellow:hsl(51, 100%, 49%);
	--DarkDesaturatedCyan:hsl(167, 40%, 24%);
	--DarkBlue:hsl(198, 62%, 26%);
	--DarkModerateCyan:hsl(168, 34%, 41%);




	--White:hsl(0, 0%, 100%);
}
ul{
	padding:0;
}
img{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
body{
	height: 100%;
	font-size: 18px;
	/* font-family: 'Barlow', sans-serif;
	font-family: 'Fraunces', serif; */
}








/* header */

.header{
	padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}


.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.menu__list{
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	list-style: none;

}
.menu__item{
	margin-left: 50px;
}

.menu__item-link{
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	color: var(--White);
	cursor: pointer;
}

.contact{

	background-color:var(--White);
	color:  hsl(212, 27%, 19%);
	padding: 15px 30px;
	border-radius:40px;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	
	
}


.contact:hover{
	background-color:rgba(255, 255, 255, 0.253);
	
	padding: 15px 30px;
	border-radius:40px;
	color:var(--White);
	font-family: 'Fraunces', serif;
	text-transform: uppercase;	
}

/* main  */

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background:url("/images/desktop/image-header.jpg") center;
	background-size: cover;
}

.main__inner{
	text-align: center;
}
.main__title{
	font-size:50px;
	font-family: 'Fraunces', serif;
	font-weight: 900;
	color:var(--White);
	text-transform: uppercase;
	letter-spacing: 10px;
}

.arrow{
	padding-top: 40px;
}

/* column */



.column__item{
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  
}
.column__item-inner{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	
}
.column__title{
	font-family: 'Fraunces', serif;
	font-size: 3rem;
	color:hsl(212, 27%, 19%);
}

.column__text{
	font-family: 'Barlow', sans-serif;
	color:hsl(232, 10%, 55%);
	font-size:1rem;
	line-height: 25px;
	margin-bottom:40px
}
.btn{

	text-decoration: none;
	color:hsl(212, 27%, 19%);
	font-family: 'Fraunces', serif;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing:3px;
	
}

.btn__first  span{
	border-bottom: 6px solid hsla(51, 100%, 49%, 0.322);
	border-radius:2px;
}
.btn__first  span:hover{
	border-bottom: 6px solid hsl(51, 100%, 49%);
	border-radius:2px;
}	

.btn__second span{
	border-radius:2px;
	border-bottom: 6px solid hsla(7, 99%, 70%, 0.555);
	
}
.column-img{
	width: 100%;
}

.column__items-subber{
	display:grid;
	grid-template-columns: 1fr 1fr;
	
	
}

.column__item-sub{
	    position: relative;
        
}



.column__img-sub-first {
	
    width: 100%;
}
.column__img-sub-second{
	
    width: 100%;
}

.colomn__sub-first{

        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60%; 
        
        width: 60%; 
	
}

.colomn__sub-second{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60%; 
        
        width: 60%; 
	
}

.colomn__sub-first .column__item-sub-title{
	font-family: 'Fraunces', serif;
	color:hsl(167, 40%,24%);
	text-align: center;
}


.colomn__sub-second .column__item-sub-title{
	font-family: 'Fraunces', serif;
	color: hsl(198, 62%, 26%);
	text-align: center;
	line-height: 25px;
}

.colomn__sub-first .column__item-sub-text{
	font-family: 'Barlow', sans-serif;
	color:hsl(167, 40%,24%);
	text-align: center;
	padding-top:20px;
	line-height: 25px;
}


.colomn__sub-second .column__item-sub-text{
	padding-top:20px;
	font-family: 'Barlow', sans-serif;
	color: hsl(198, 62%, 26%);
	text-align: center;
}



/* client */

.client__title{
	padding-top: 150px;
	padding-bottom:100px;
	text-align: center;
	font-family: 'Fraunces', serif;
	color:hsl(210, 4%, 67%);
	text-transform: uppercase;
	letter-spacing: 5px;
}

.client__items{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-column-gap: 50px;
}

.client__item{

	text-align:center;
	margin-bottom: 150px;
}

.clinet__img{
	border-radius: 50%;
}

.clinet__text{
	padding-top: 30px;
	padding-bottom:1em;	
	font-family: 'Barlow', sans-serif;
	color:hsl(232, 10%, 55%);
	
}
.client__name{
	font-family: 'Fraunces', serif;
	color:hsl(212, 27%, 19%);
}
.client__position{
	font-size: 1rem;
	font-family: 'Barlow', sans-serif;
	color:hsl(232, 10%, 55%);
}


/* photo */

.photo__inner{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

}

.photo__img{
	width: 100%;
}


/* footer */

footer{
	background-color:hsl(168, 34%, 41%);
}

.footer{

    display: flex;
  flex-direction: column;
}
.logo{
	padding-top:70px;
	text-align: center;
}
.footer__list{
	text-decoration: none;
	list-style: none;
	display: flex;
	text-align: center;
	justify-content: center;
	
}

.footer__item{
	margin-left: 30px;
}

.footer__social{
	margin-top: 100px;
	padding-bottom: 50px;
	list-style: none;
	display: flex;
	text-align: center;
	justify-content: center;
}

.footer__link{
	margin-left: 30px;

	
}
.footer__item-link{
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	color: hsl(167, 40%,24%);
	cursor: pointer;

}
.footer__item-link:hover{
	color:white;
}

.footer__link-item{
	fill:hsl(167, 40%,24%);
}

.footer__link-item:hover{
	fill:white;
}

.menu__burger{
	display:none;
}

/* MEDIA */

@media (max-width:650px) {
.client__items{
	display:grid;
	grid-template-columns: 1fr	;
	grid-column-gap: 50px;
}
}


@media (max-width:800px) {

	
 body.lock {
    overflow: hidden;
  }

.photo__inner{
	display:grid;
	grid-template-columns: 1fr 1fr	;
	height: auto;

}

.column__item{
	display:grid;
	grid-template-columns: 1fr;
}


.column__item-inner{
	text-align: center;
	margin:20px 0
}

.client__item{
	margin:0;	
}

.column__item-sub-text{
	margin:0;
	padding:0;
}

.menu__burger{
	display:block;
}


.menu{
	display: block;
	position:fixed;
	top:50px;
	left:70px;
	
	width: 400px;
	height: 600px;
	transform: translate(200%,0px);
	background-color: hsl(0, 0%, 100%);
	transition:top 0.3s ease 0s;
}
.menu__item-link{
	color:var(--DarkBlue)
}

.contact{
	background-color:hsl(51, 100%, 49%);
	color:  hsl(212, 27%, 19%);
	padding: 15px 30px;
	border-radius:40px;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
}


.contact:hover{
	background-color:hsla(51, 100%, 49%, 0.61);
	
	padding: 15px 30px;
	border-radius:40px;
	color:var(--DarkBlue);
	font-family: 'Fraunces', serif;
	text-transform: uppercase;	
}


.menu.active{
	transform: translate(0px,0px);
}
.menu__list{
	display: block;
	text-align:center;
	align-items:center;
}

.menu__item{
	margin: 0;
	padding-bottom: 30px;
}




  .menu__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 10;
    order: 1;
	float: right;
	padding-right:20px;
  }
  .menu__burger span {
    position: absolute;
    height: 3px;
    width: 100%;
    top: 8px;
    background-color: rgb(255, 255, 255);
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__burger.active span {
    transform: scale(0);
  }
  .menu__burger:after,
  .menu__burger:before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__burger:before {
    top: 0;
  }
  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }




}




@media (max-width:1100px) {
	.column__items-subber{
	display:grid;
	grid-template-columns	: 1fr;
	height: auto;
	
	}
}
